.fixed-top {
  background: rgb(255, 255, 255);
}
:root {
  --light: #cccccc;
  --dark: #151515;
}
#theme-switcher {
  display: none;
}
.theme-switcher-area {
  border: 1px solid var(--light);
  background: var(--dark);
  border-radius: 2rem;
  width: 4.5rem;
  height: 2.5rem;
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.theme-switcher-button {
  position: relative;
  display: block;
  background: #f1aa02;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 2px dashed var(--dark);
  transition: 0.3s;
}
.theme-switcher-button::after {
  position: absolute;
  width: 80%;
  height: 80%;
  content: "";
  background: var(--dark);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
}
#theme-switcher:checked + #app-container .theme-switcher-button {
  transform: translateX(100%);
  border: none;
}
#theme-switcher:checked + #app-container .theme-switcher-button::after {
  opacity: 1;
}
#theme-switcher:checked + #app-container {
  background: var(--dark);
  color: var(--light);
}
.alinha {
  width: 92%;
  margin: auto;
}
.sale {
  text-decoration: line-through;
  font-size: 60%;
}
.img-fluid:hover {
  -webkit-transform: scale(0.9);
  transform: scale(1.05);
}
.display-6 {
  font-size: 150%;
}

#a {
  text-decoration: none;
  color: #1e1e1e;
}
.response {
  left: 50%;
  font-size: 40px;
  display: flex;
  border: 1px solid darkblue;
  border-radius: 5px;
  height: 50px;

  align-items: center;
}
.response img {
  margin: auto;
  margin-left: 2px;
  margin-bottom: 5px;
}
.menos {
  font-size: 100%;
}
.nomes {
  font-size: 140%;
}
